package pages

import "github.com/marcelorc13/timesheet-pro/internal/templates/layouts"

templ HomePage() {

	@layouts.Base("Home") {
		<main>
			<a href="/login">Login</a>
			<a href="/signup">Cadastro</a>
			<p>Welcome!</p>
		</main>
	}
}
