info:
  contact: {}
paths:
  /:
    get:
      consumes:
      - application/json
      description: returns welcome message
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: Home example
      tags:
      - example
swagger: "2.0"
